<div class="row">
  <div class="col">
    <div class="card border-0 shadow-sm bg-white">
      <div class="card-body p-5">
        <div class="row">
          <div class="col">
            <p class="h1 font-weight-normal">{{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small></p>
            {% if site.data.profile.positions or site.data.profile.cv_link %}
            <p class="text-profile-position">
              {% for position in site.data.profile.positions %}
              {{ position }}<br/>
              {% endfor %}
              {% if site.data.profile.cv_link %}
              <a target="_blank" href="{{ site.data.profile.cv_link }}"><i class="fas fa-file-alt"></i> [Curriculum Vitae]</a> <br/>
              {% endif %}
            </p>
            {% endif %}
            <p class="text-profile-bio">
              {{ site.data.profile.short_bio }}
            </p>
            <!-- 窄屏下头像列隐藏，联系方式图标改放在简介下方 -->
            <div class="d-md-none">
              {% include widgets/social_icons.html align="start" %}
            </div>
          </div>
          {% if site.data.profile.show_portrait %}
          <div class="col-md-auto d-none d-md-block text-center">
            <figure class="figure mb-2">
              <img
                src="{{ site.data.profile.portrait_url }}"
                class="figure-img img-fluid img-thumbnail mb-0"
                style="height: 260px;"
                data-toggle="tooltip"
                data-placement="top"
                title="{{ site.data.profile.portrait_caption }}"
              >
            </figure>
            {% include widgets/social_icons.html %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body p-0">
        <img src="{{ site.data.profile.wechat_qrcode }}" class="img-fluid">
      </div>
      {% if site.data.profile.wechat_prompt %}
      <div class="modal-body p-1">
        {{ site.data.profile.wechat_prompt }}
      </div>
      {% endif %}
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
  if (window.jQuery && typeof $ !== 'undefined') {
    $(function () { $('[data-toggle="tooltip"]').tooltip(); });
  }
</script>
